@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin: 0px;
  padding: 0px;
}

#container{
  font-family: 'Poppins', sans-serif;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: black;
  height: 15vh;
}

#navbar img{
  margin: 10px;
}

h1{
  margin: 10px;
}

#bodyPart {
  height: 65vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(31, 31, 31);
}

.song{
  background-color: black;
  height: 50px;
  width: 30vw;
  min-width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 25px;
  margin: 10px;
  border-radius: 10px;
}
.song:hover{
  background-color: rgb(63, 63, 63);
  height: 50px;
  width: 30vw;
  min-width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 25px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.song img{
  margin: 20px;
}

.song p{
  font-size: 15px;
}

#footer{
  background-color: black;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#playing{
  margin-top: 10px;
  width: 80%;
}

#footer img:hover{
  cursor: pointer;
}

#pauser{
  margin: 10px;
}
#seekbar{
  width: 70%;
  cursor: pointer;
}