*{
  margin: 0px;
  padding: 0px;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: black;
}

#navbar img{
  margin: 10px;
}

h1{
  margin: 10px;
}

#bodyPart {
  height: 85vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(31, 31, 31);
}

.song{
  background-color: black;
  height: 70px;
  width: 30vw;
  min-width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 25px;
}

.song img{
  margin: 20px;
}
